@page
@model Job_Outsourcer.Pages.Partner.Active_Jobs.ManageJobsModel
@using Job_Outsourcer.Utility
@{
    ViewData["Title"] = "ManageJobs";
}

<h1 class="text-primary py-3">Aktivne narudžbe</h1>

    @if (Model.orderDetailsVM.Count > 0)
    {
        <div class="container row bg-white p-2 border mb-3 rounded">

            @foreach (var item in Model.orderDetailsVM)
            {
                <div class="col-12 pb-3 pt-3 mt-4 border  rounded">
                    <div class="backgroundWhiteBorder10Padding">
                        <div class="row">
                            <div class="col-4">
                                Broj narudžbe : @item.OrderHeader.Id
                                <ul class="text-info">

                                    <li>@item.OrderDetails.Name x @item.OrderDetails.Count</li>
                                    <li>@item.ApplicationUser.Address</li>

                                </ul>
                            </div>
                            <div class="col-4 pb-2">
                                <div class="input-group pb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Termin</span>
                                    </div>
                                    <input type="text" class="border rounded form-control" readonly value="@item.OrderHeader.PickUpTime" />
                                </div>
                                @{
                                    var comments = item.OrderHeader.Comments;
                                    if (comments == null || comments.Trim().Length == 0)
                                    {
                                        item.OrderHeader.Comments = "No instructions.";
                                    }
                                }
                                <textarea asp-for="@item.OrderHeader.Comments" readonly class="rounded border form-control" style="width:100%;height:75px;"></textarea>
                            </div>
                            <div class="col-3 offset-1 d-flex align-content-center">
                                <div class="col-12">


                                    @if (item.OrderHeader.Status.Equals(StaticDetails.StatusInProcess))
                                    {
                                       
                                    


                                        <button type="submit" disabled class="btn btn-info form-control">@item.OrderHeader.Status</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

